<div class="container">
    <form class="example-form">
        <!-- Nombres -->
        <mat-form-field class="example-full-width">
            <mat-label>Nombres</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <!-- Apellidos -->
        <mat-form-field class="example-full-width">
            <mat-label>Apellidos</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <!-- Correo -->
        <mat-form-field class="example-full-width">
            <mat-label>Correo Electrónico</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi">
        </mat-form-field>

        <!-- Descripción -->
        <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
        </mat-form-field>
    </form>
    <!-- nombre,apellido,email,contraseña,descripcion, imagen -->
</div>