.center-text
{
    padding-top: 15px;
    text-align: center;
}

.paint-text
{
    color: #646A6B;
}

.spacing
{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.box 
{
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
}

.after-box 
{
    clear: left;
}

.size-body
{
    height: 340px;
}

.btn-align
{
    margin-left: 42%;
    margin-bottom: 5%;
    /* margin-right: 0%; */
}
