.center-text
{
    padding-top: 15px;
    text-align: center;
}

.brain-icon
{
    padding-top: 2%;
    width: 25%;
    height: 30%;
}

.paint-text
{
    color: #646A6B;
}

.margin-button
{
    margin-top: 4%;
}