<div class="center-text">
    <h1>El Modelo Herrmann</h1>
    <h4 class="paint-text">"Identifica como la gente percibe el mundo, aprende, resuelve problemas y toma decisiones"</h4>

    <img src="assets/img/brain.svg" class="brain-icon">    
</div>
<div class="center-text margin-button">
    <a routerLink="/dashboard/herrmann/new">
        <button type="button" class="btn btn-outline-primary" (click)="initTest()">Iniciar Nueva Prueba</button>
        <!-- <button type="button" class="btn btn-primary">Iniciar Nueva Prueba</button> -->
    </a>    
</div>