<div class="center-text">
    <h1>De las 5 ideas seleccionadas:</h1>
    <h5 class="paint-text">
        Describa el nombre del negocio y enmarque los aspectos más importantes
         de como funcionaria el negocio
    </h5>
</div>
<!-- general form elements disabled -->
<div class="card card-secondary spacing">
    <div class="card-body size-body">

        <!-- Recorro y pinto todas las ideas de negocio seleccionables -->
        <ng-container *ngFor="let idea of blueSkyIdeas; index as i;">
            <!-- Card con la idea -->
            <mat-card>
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title class="clr-green">{{ idea }}</mat-card-title>
                </mat-card-header>
            
                <mat-card-content>
                    <div class="form-group">
                        <input type="text" class="form-control mt-2" placeholder="Nombre del negocio..." [(ngModel)]="names[i]">
                        <textarea class="form-control mt-2" id="ta1" rows="3" placeholder="Como funciona el negocio..." [(ngModel)]="explanation[i]"></textarea>
                    </div>
                </mat-card-content>
            </mat-card>
            <br>
        </ng-container>
    </div>

    <div class="btn-align">
        <button type="button" class="btn btn-outline-primary" (click)="addActivity()">Siguiente</button>
    </div>

</div>