<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-3" >
            <div class="card">
                <div class="card-header text-center">
                    <h2>Recupera tu contraseña</h2>
                </div>
                <div class="card-body">
                    <form action="" #resetForm=ngForm (ngSubmit)="submit()">
                        <div class="wrap-input100 mt-4">
                            <input type="email" (blur)="addClassEmail()" class="input100" name="email" id="email" [(ngModel)]="form.email" required>
                            <span class="focus-input100" data-placeholder="Correo electronico"></span>
                        </div>
                        <div class="alert alert-danger" *ngIf="error.email">
                            <span>{{error.email}}</span>
                        </div>
                        <div class="d-flex mt-4">
                            <a routerLink="/user/login"  class="btn btn-primary mr-auto text-white"><i class="fa fa-chevron-left pl-0 mr-3" aria-hidden="true"></i>Volver a login</a>

                            <button type="submit" [disabled]="!resetForm.form.valid" class="btn btn-success ml-auto">Recuperar contraseña<i class="fa fa-check ml-3" aria-hidden="true"></i></button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <span class="text-muted">¿Aún no eres miembro?<a routerLink="/user/register" class="nav-link pl-1 d-inline">Crea una cuenta</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
