<div class="center-text">
    <h1>Sección #2</h1>
    <h4 class="paint-text">Seleccione 8 características con las que mas se identifique:</h4>
</div>
<!-- general form elements disabled -->
<div class="card card-secondary spacing">
    <!-- <div class="card-header">
      <h3 class="card-title">Custom Elements</h3>
    </div> -->
    <!-- /.card-header -->
    <div class="card-body size-body">
      <!-- <form role="form"> -->
        <!-- Sección AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA -->
        <div class="form-group box">
            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,1)">
                <input type="checkbox" class="custom-control-input" id="customSwitch1a" [disabled]="!seccionArr[0][0] && total >= 8">
                <label class="custom-control-label" for="customSwitch1a">Investigar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,2)">
                <input type="checkbox" class="custom-control-input" id="customSwitch2a" [disabled]="!seccionArr[0][1] && total >= 8">
                <label class="custom-control-label" for="customSwitch2a">Crear</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,3)">
                <input type="checkbox" class="custom-control-input" id="customSwitch3a" [disabled]="!seccionArr[0][2] && total >= 8">
                <label class="custom-control-label" for="customSwitch3a">Visualizar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,4)">
                <input type="checkbox" class="custom-control-input" id="customSwitch4a" [disabled]="!seccionArr[0][3] && total >= 8">
                <label class="custom-control-label" for="customSwitch4a">Liderar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,5)">
                <input type="checkbox" class="custom-control-input" id="customSwitch5a" [disabled]="!seccionArr[0][4] && total >= 8">
                <label class="custom-control-label" for="customSwitch5a">Vender</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,6)">
                <input type="checkbox" class="custom-control-input" id="customSwitch6a" [disabled]="!seccionArr[0][5] && total >= 8">
                <label class="custom-control-label" for="customSwitch6a">Entretener</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,7)">
                <input type="checkbox" class="custom-control-input" id="customSwitch7a" [disabled]="!seccionArr[0][6] && total >= 8">
                <label class="custom-control-label" for="customSwitch7a">Dibujar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,8)">
                <input type="checkbox" class="custom-control-input" id="customSwitch8a" [disabled]="!seccionArr[0][7] && total >= 8">
                <label class="custom-control-label" for="customSwitch8a">Tomar Riesgo</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,9)">
                <input type="checkbox" class="custom-control-input" id="customSwitch9a" [disabled]="!seccionArr[0][8] && total >= 8">
                <label class="custom-control-label" for="customSwitch9a">Explorar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(1,10)">
                <input type="checkbox" class="custom-control-input" id="customSwitch10a" [disabled]="!seccionArr[0][9] && total >= 8">
                <label class="custom-control-label" for="customSwitch10a">Curiosear</label>
            </div>
        </div>

        <!-- Sección BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB -->
        <div class="form-group box">
            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,1)">
                <input type="checkbox" class="custom-control-input" id="customSwitch1b" [disabled]="!seccionArr[1][0] && total >= 8">
                <label class="custom-control-label" for="customSwitch1b">Enseñar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,2)">
                <input type="checkbox" class="custom-control-input" id="customSwitch2b" [disabled]="!seccionArr[1][1] && total >= 8">
                <label class="custom-control-label" for="customSwitch2b">Relacionarse</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,3)">
                <input type="checkbox" class="custom-control-input" id="customSwitch3b" [disabled]="!seccionArr[1][2] && total >= 8">
                <label class="custom-control-label" for="customSwitch3b">Coordinar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,4)">
                <input type="checkbox" class="custom-control-input" id="customSwitch4b" [disabled]="!seccionArr[1][3] && total >= 8">
                <label class="custom-control-label" for="customSwitch4b">Entender</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,5)">
                <input type="checkbox" class="custom-control-input" id="customSwitch5b" [disabled]="!seccionArr[1][4] && total >= 8">
                <label class="custom-control-label" for="customSwitch5b">Brindar Servicio</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,6)">
                <input type="checkbox" class="custom-control-input" id="customSwitch6b" [disabled]="!seccionArr[1][5] && total >= 8">
                <label class="custom-control-label" for="customSwitch6b">Facilitar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,7)">
                <input type="checkbox" class="custom-control-input" id="customSwitch7b" [disabled]="!seccionArr[1][6] && total >= 8">
                <label class="custom-control-label" for="customSwitch7b">Persuadir</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,8)">
                <input type="checkbox" class="custom-control-input" id="customSwitch8b" [disabled]="!seccionArr[1][7] && total >= 8">
                <label class="custom-control-label" for="customSwitch8b">Aconsejar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,9)">
                <input type="checkbox" class="custom-control-input" id="customSwitch9b" [disabled]="!seccionArr[1][8] && total >= 8">
                <label class="custom-control-label" for="customSwitch9b">Escuchar a Otros</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(2,10)">
                <input type="checkbox" class="custom-control-input" id="customSwitch10b" [disabled]="!seccionArr[1][9] && total >= 8">
                <label class="custom-control-label" for="customSwitch10b">Confortar</label>
            </div>
        </div>

        <!-- Sección CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC -->
        <div class="form-group box">
            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,1)">
                <input type="checkbox" class="custom-control-input" id="customSwitch1c" [disabled]="!seccionArr[2][0] && total >= 8">
                <label class="custom-control-label" for="customSwitch1c">Documentar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,2)">
                <input type="checkbox" class="custom-control-input" id="customSwitch2c" [disabled]="!seccionArr[2][1] && total >= 8">
                <label class="custom-control-label" for="customSwitch2c">Seleccionar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,3)">
                <input type="checkbox" class="custom-control-input" id="customSwitch3c" [disabled]="!seccionArr[2][2] && total >= 8">
                <label class="custom-control-label" for="customSwitch3c">Relevar Proceso</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,4)">
                <input type="checkbox" class="custom-control-input" id="customSwitch4c" [disabled]="!seccionArr[2][3] && total >= 8">
                <label class="custom-control-label" for="customSwitch4c">Administrar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,5)">
                <input type="checkbox" class="custom-control-input" id="customSwitch5c" [disabled]="!seccionArr[2][4] && total >= 8">
                <label class="custom-control-label" for="customSwitch5c">Supervisar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,6)">
                <input type="checkbox" class="custom-control-input" id="customSwitch6c" [disabled]="!seccionArr[2][5] && total >= 8">
                <label class="custom-control-label" for="customSwitch6c">Detallar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,7)">
                <input type="checkbox" class="custom-control-input" id="customSwitch7c" [disabled]="!seccionArr[2][6] && total >= 8">
                <label class="custom-control-label" for="customSwitch7c">Implem. Soluciones</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,8)">
                <input type="checkbox" class="custom-control-input" id="customSwitch8c" [disabled]="!seccionArr[2][7] && total >= 8">
                <label class="custom-control-label" for="customSwitch8c">Controlar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,9)">
                <input type="checkbox" class="custom-control-input" id="customSwitch9c" [disabled]="!seccionArr[2][8] && total >= 8">
                <label class="custom-control-label" for="customSwitch9c">Organizar u Ordenar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(3,10)">
                <input type="checkbox" class="custom-control-input" id="customSwitch10c" [disabled]="!seccionArr[2][9] && total >= 8">
                <label class="custom-control-label" for="customSwitch10c">Llevar Cuentas</label>
            </div>
        </div>

        <!-- Sección DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD -->
        <div class="form-group box">
            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,1)">
                <input type="checkbox" class="custom-control-input" id="customSwitch1d" [disabled]="!seccionArr[3][0] && total >= 8">
                <label class="custom-control-label" for="customSwitch1d">Pensar En Abstracto</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,2)">
                <input type="checkbox" class="custom-control-input" id="customSwitch2d" [disabled]="!seccionArr[3][1] && total >= 8">
                <label class="custom-control-label" for="customSwitch2d">Formular Políticas</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,3)">
                <input type="checkbox" class="custom-control-input" id="customSwitch3d" [disabled]="!seccionArr[3][2] && total >= 8">
                <label class="custom-control-label" for="customSwitch3d">Criticar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,4)">
                <input type="checkbox" class="custom-control-input" id="customSwitch4d" [disabled]="!seccionArr[3][3] && total >= 8">
                <label class="custom-control-label" for="customSwitch4d">Analizar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,5)">
                <input type="checkbox" class="custom-control-input" id="customSwitch5d" [disabled]="!seccionArr[3][4] && total >= 8">
                <label class="custom-control-label" for="customSwitch5d">Buscar Desafíos</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,6)">
                <input type="checkbox" class="custom-control-input" id="customSwitch6d" [disabled]="!seccionArr[3][5] && total >= 8">
                <label class="custom-control-label" for="customSwitch6d">Gerenciar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,7)">
                <input type="checkbox" class="custom-control-input" id="customSwitch7d" [disabled]="!seccionArr[3][6] && total >= 8">
                <label class="custom-control-label" for="customSwitch7d">Temas Financieros</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,8)">
                <input type="checkbox" class="custom-control-input" id="customSwitch8d" [disabled]="!seccionArr[3][7] && total >= 8">
                <label class="custom-control-label" for="customSwitch8d">Gusta La Técnica</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,9)">
                <input type="checkbox" class="custom-control-input" id="customSwitch9d" [disabled]="!seccionArr[3][8] && total >= 8">
                <label class="custom-control-label" for="customSwitch9d">Matematizar</label>
            </div>

            <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success"
            (change)="plusOrMinusSection(4,10)">
                <input type="checkbox" class="custom-control-input" id="customSwitch10d" [disabled]="!seccionArr[3][9] && total >= 8">
                <label class="custom-control-label" for="customSwitch10d">Argumentar</label>
            </div>
        </div>

        <!-- <div class="after-box ">
            <button type="button" class="btn btn-outline-primary">Primary</button>
        </div> -->
      <!-- </form> -->
    </div>
    <!-- /.card-body -->

    <div class="btn-align">
        <button type="button" class="btn btn-outline-primary" (click)="addActivity()" [disabled]="total != 8">Siguiente</button>
    </div>

</div>
<!-- /.card -->