<div class="col-md-8 mx-auto mt-3">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading">No Hay {{information.namePlural}}!</h4>
        <h6 class="alert-body">
            Aún no has agregado ningún[a] {{information.nameSingular}} a la lista, 
            puedes agregar uno en cualquier momento, haciendo click 
            <a routerLink="/dashboard/{{information.link}}/new" class="link">aquí</a> 
            o desde el menú lateral, seleccionando la opción "{{information.namePlural}}"
                y a continuación "Agregar {{information.nameSingular}}"
        </h6>
    </div>
</div>