.center-text
{
    padding-top: 15px;
    text-align: center;
}

.brain-icon
{
    padding-top: 2%;
    width: 80%;
    height: 80%;
}

.paint-text
{
    color: #646A6B;
}

.margin-button
{
    margin-top: 4%;
}

.paint-text-click
{
    /* color: white; */
    background-color: yellow;
}