<h1 mat-dialog-title>ALINEACIÓN / ENCAJE</h1>
<div mat-dialog-content>
    El encaje del modelo se consigue cuando: <br>
    * El mapa de valor coincide con el segmento de cliente <br>
    * Cuando los productos y servicios generan aliviadores de <br>
    frustraciones y creadores de alegrías que coinciden con alguna de las <br>
    tareas, frustraciones y alegrías importantes para el cliente. <br>
    <br> <br>
    LAS PROPUESTAS DE VALOR pueden involucrar a varias personas en la búsqueda, <br>  
    evaluación, compra y uso del producto o servicio 


</div>
