<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto mt-3">
            <div class="alert alert-danger" [hidden]="!error">
                <strong>{{ error }}</strong>
            </div>
            <form action="" #resetPasswordForm=ngForm (ngSubmit)="resetPassword()">
                
                <h1 class="text-center font-weight-bold">Cambiar contraseña</h1>
                
                <div class="wrap-input100 my-4">
                    <input type="email" (blur)="addClass()" class="input100"  name="email" id="email" [(ngModel)]="form.email" readonly required>
                    <span class="focus-input100" data-placeholder="Correo electronico"></span>
                </div>
    
                <div class="wrap-input100 my-4">
                    <input type="password" (blur)="addClass()" name="password" id="password" class="input100" [(ngModel)]="form.password" required>
                    <span class="focus-input100" data-placeholder="Nueva contraseña"></span>
                </div>
                
                <div class="wrap-input100 my-4">
                    <input type="password" (blur)="addClass()" name="password_confirmation" id="password_confirmation" class="input100" [(ngModel)]="form.password_confirmation" required>
                    <span class="focus-input100" data-placeholder="Confirma tu nueva contraseña"></span>
                </div>
                
                <button class="btn btn-success btn-block boton my-4 p-2" [disabled]="!resetPasswordForm.form.valid">                    
                    Cambiar contraseña
                </button>

            </form>
            <ul class="login-more p-t-190">
                <li>
                    <span class="txt1">
                        Aún no es miembro?
                    </span>

                    <a routerLink="/user/register" class="txt2">
                        Unirse ahora
                    </a>
                </li>
            </ul>
        </div>
    </div>
    
</div>

