<div class="container-fluid">
  <div class="row">
    
    <img src="../../../../../assets/img/logoU.jpg" alt="Logo universidad" width="100%">
    <!-- <div class="col-12 col-sm-6 col-md-3 mt-4">
        <div [routerLink]="['/dashboard/users']" class="hvr-glow info-box mb-3 pointer-effect">
        <span class="info-box-icon bg-info elevation-1"><i class="fa fa-users"></i></span>

        <div class="info-box-content">
            <span class="info-box-text">Usuarios</span>
            <span class="info-box-number">9999</span>
        </div>
        </div>
    </div> -->


      
  </div>    
</div>