<div class="master-main-container clearfix no-padding">
  <div class="wrapper h-100">
    <app-navbar-top></app-navbar-top>
    <app-navbar-left></app-navbar-left>    
    <div class="content-wrapper" >
      Copy
      <div class="card" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>