<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a routerLink="/dashboard" title="Ir a Dashboard" class="brand-link">
        <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light title-system">UAM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="assets/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a routerLink="#" class="d-block">{{username}}</a>
        </div>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="true">
          
          <!-- Boton para ir al dashboard principal -->
          <li class="nav-item has-treeview">
            <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"  class="nav-link">
              <i class="nav-icon fa fa-tachometer"></i>
              <p>
                Dashboard
                <!-- <i class="right fa fa-angle-left"></i> -->
              </p>
            </a>
          </li>

          <!-- Actividades de aprendizaje -->
          <li class="nav-item has-treeview" (click)="addClass()">
            <a href="#" class="nav-link" >
              <i class="nav-icon fa fa-gamepad"></i>
              <p>
                Actividades 
                <i class="right fa fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <!-- TEST DE HERRMANN -->
              <li class="nav-item">
                <a routerLink="/dashboard/herrmann" class="nav-link" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}">
                  <i class="fa fa-text-width nav-icon"></i>
                  <p>Modelo Herrmann</p>
                </a>
              </li>             
            </ul>
          </li>
        </ul>
      </nav>
  </div>
</aside>